# Virtual environment
.venv/
env/

# Compiled Python files
*.pyc
__pycache__/

# Build artifacts
build/
dist/
*.egg-info/

# Editor/IDE specific files
.idea/
.vscode/
*.swp

# Sensitive information
.env
config.ini

# Log files
*.log

# Temporary files
*.tmp

*.db
